<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Conditional Statement in Thymeleaf</title>
</head>
<body>
	<h1>Conditional Statement in Thymeleaf</h1>

	<h1>
		Use is <span th:style="${isActive} ? 'color:green' : 'color:red' "
			th:text="${isActive}? 'ACTIVE' : 'NOT ACTIVE' "></span>
	</h1>

	<hr>
	
	<h1 th:if="${gender}=='M' ">Male</h1>
	<h1 th:unless="${gender}=='M' ">Female</h1>
	
	<hr>
	
	<div th:switch="${#lists.size(myList)}">
	<h1 th:case="'0'">List contains Zero Elements</h1>
	<h1 th:case="'1'">List contains One Elements</h1>
	<h1 th:case="*">List contains more than one elements</h1>
	</div>

</body>
</html>














